<h3>Update Wiki Details</h3>
<%= form_with model: @wiki do |form| %>
    <%= form.text_field :title, placeholder: "title" %>
    <%= form.text_field :description, placeholder: "description" %>
    <%= form.text_field :kind, placeholder: "kind" %>
    <%= form.text_field :author, placeholder: "author" %>
    <%= form.select :category_id, options_for_select(@categories.collect { |cat| [cat.name_type, cat.id]})%>
  <%= form.submit %>
<% end %>
<%= link_to sanitize("&larr; Back to home"), wikis_path %>
